.page {
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    width: 80%;
    max-width: 880px;
    min-width: 320px;
}

@media screen and (max-width: 700px) {
    .page {
        width: 100%;
    }
}