.profile__info-button {
    align-self: center;
    grid-area: button;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    background: transparent;
    background-image: url("../../../images/edit-button.svg");
}

.profile__info-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .profile__info-button {
        height: 18px;
        width: 18px;
        background-size: 18px;
    }
}